beautifulsoup4==4.6.3
certifi==2018.8.24
chatterbot==0.8.7
feedparser==5.2.1
future==0.16.0
langdetect==1.0.7
nltk==3.3
numpy==1.15.2
oauthlib==2.1.0
pymongo==3.7.1
python-twitter==3.4.2
pytz==2018.5
redis==2.10.6
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
Sphinx==1.5.1
sphinx-autobuild==0.6.0
tornado==5.1.1
unicodecsv==0.14.1
