backports-abc==0.5
beautifulsoup4==4.6.0
certifi==2016.9.26
chatterbot==0.5.4
enum==0.4.6
feedparser==5.2.1
future==0.16.0
futures==3.0.5
jsondatabase==0.1.7
langdetect==1.0.7
nltk==3.2.2
numpy==1.11.3
oauthlib==2.0.1
pymessenger==0.0.7.0
pymongo==3.4.0
python-twitter==3.2
redis==2.10.5
requests==2.12.4
requests-oauthlib==0.7.0
requests-toolbelt==0.7.0
singledispatch==3.4.0.3
six==1.10.0
Sphinx==1.5.1
sphinx-autobuild==0.6.0
tornado==4.4.2
unicodecsv==0.14.1
