# -*- coding: utf-8 -*-

# Facebook token
ACCESS_TOKEN = "FACEBOOK_PAGE_ACCESS_TOKEN"
VERIFY_TOKEN = "WEBHOOK_VERIFY_TOKEN"  # Set this value by yourself

# Recipient ID for Admin, hardcoded in configuration
ADMIN = [
    "123...9"
]
